<div class="container">
  <div class="card-panel center white-text">
    <h2>Bienvenido</h2>
    <h5>Favor ingresa para conocer tu ubicación</h5>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="input-field">
      <i class="material-icons prefix">perm_identity</i>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <%= f.label :email %><br />
    </div>

    <div class="input-field">
      <i class="material-icons prefix">vpn_key</i>
      <%= f.password_field :password, autocomplete: "off" %>
      <%= f.label :password %><br />
    </div>

    <% if devise_mapping.rememberable? -%>
    <p class="">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </p>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class:"btn waves-effect waves-light" %>
    </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>

</div>
