<!DOCTYPE html>
<html>
  <head>
    <title>ProyectoGPS</title>
    <%= csrf_meta_tags %>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      #map {
        height: 80%;
        width: 80%;
        margin: auto;
      }
      html,body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <% if user_signed_in? %>
        Conectado como <strong> <%= current_user.email %> </strong>
        <ul class="right">
          <li>
            <%= link_to "Inicio", root_path %>
          </li>
          <li>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
        <% else %>
        <ul class="right">
          <li>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %>
          </li>
          <li>
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
          </li>
        </ul>
        <% end %>

      </div>

    </nav>
    <div class="container">

      <% if notice %>
      <p class="card-panel green lighten-1 white-text"> <%= notice %> </p>
      <% end %>
      <% if alert %>
      <p class="card-panel red lighten-1 white-text"> <%= alert %> </p>
      <% end %>


    </div>
    <%= yield %>
  </body>
</html>
